.app_header {
  padding: 0.8333em 0.8333em 0.8333em 84px;
  min-height: 84px;
}

.app_header > .app_thumb {
  position: absolute;
  top: 10px;
  left: 10px;
}


/* .thumb classes */

.app_thumb {
  /* TODO: this is temporary, so we can see it! */
  background-color: #999999;
}

.widget_thumb {
  
}

.drag_thumb {
  border: 1px solid rgb(165,168,171);
  
  -webkit-border-radius: 0.3333em;
     -moz-border-radius: 0.3333em;
          border-radius: 0.3333em;
}

.drag_thumb:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 12px;

  background-color: rgb(230,231,232);
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-image: url('../images/thumbs/dragstrip.png');
  
  border-top: 6px solid rgb(230,231,232);
  border-bottom: 6px solid rgb(230,231,232);
  
  -webkit-border-top-left-radius:    0.3333em;
     -moz-border-radius-topleft:     0.3333em;
          border-top-left-radius:    0.3333em;
  
  -webkit-border-bottom-left-radius: 0.3333em;
     -moz-border-radius-bottomleft:  0.3333em;
          border-bottom-left-radius: 0.3333em;
}


/* .button classes */

.button {  
  background-color: rgb(230,230,230);
}

.back_button {
  
}

.action_button {
  /* .action_buttons are for actions that change the webdoc. */
  -webkit-border-radius: 0.3333em;
     -moz-border-radius: 0.3333em;
          border-radius: 0.3333em;
}

.tab_button {
  height: 2.6667em;
  line-height: 2.6667em;
  
  background-color: rgb(220,220,220);
  
  border: 1px solid #999999;
  border-bottom-color: black;
  
  -webkit-border-top-left-radius:  0.25em;
     -moz-border-radius-topleft:   0.25em;
          border-top-left-radius:  0.25em;
  -webkit-border-top-right-radius: 0.25em;
     -moz-border-radius-topright:  0.25em;
          border-top-right-radius: 0.25em;
}

.tab_button.active {
  background-color: rgb(237,237,237);
  border-color: black;
  border-bottom-color: rgb(237,237,237);
}

.filter_button {
  background-color: rgb(208,209,210);
  
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
}

.filter_button.active {
  background-color: rgb(109,111,112);
  
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
}


/* .tab classes */

.tab {
  background-color: rgb(237,237,237);
  padding: 0.83333em;
}


/* .index classes */

.tabs_index > li {

}

.thumbs_index > li,
.filters_index > li {
  margin-right: 0.6667em;
  margin-bottom: 0.8333em;
}

/* .index classes with horizontal layout */

.thumbs_index,
.filters_index {
  /* To form grids with a horizontal index, line-height
     needs to be smaller than the items in the index. */
	line-height: 0;
}

.thumbs_index > li,
.filters_index > li {
  display: inline-block;
  vertical-align: top;
  /* Reset the line-height to the base line-height. */
  line-height: 1.5;
}

.thumbs_index > li:last-child,
.filters_index > li:last-child {
  margin-right: 0;
}