.app_header {
  padding: 0.8333em 0.8333em 0.8333em 84px;
  min-height: 84px;
}

.app_header > .app_thumb {
  position: absolute;
  top: 10px;
  left: 10px;
}


/* .thumb classes */

.app_thumb {
  /* TODO: this is temporary, so we can see it! */
  background-color: #999999;
}

.widget_thumb {
  background-image: url('../images/thumbs/thumb_widget.png');
  background-size: auto;
  background-position: 50% 50%;
}

.image_thumb {
  background-image: url('../images/thumbs/thumb_image.png');
  background-position: 12px 50%;
}

.drag_thumb {
  width: 92px;
  
  border: 1px solid rgb(165,168,171);
  
  -webkit-border-radius: 0.3333em;
     -moz-border-radius: 0.3333em;
          border-radius: 0.3333em;
}

.large_drag_thumb {
  width: 192px;
}

.xlarge_drag_thumb {
  width: 392px;
}

.drag_thumb:before {
  /* Make the background gradient. */
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  
  border-radius: inherit;

  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(white), color-stop(0.3, #a6f2c0), color-stop(0.65, rgba(180, 200, 210, .9)), to(black));
  background-image: -webkit-linear-gradient(rgb(240,240,241), rgb(218,220,222));
  background-image:    -moz-linear-gradient(rgb(240,240,241), rgb(218,220,222));
  background-image:     -ms-linear-gradient(rgb(240,240,241), rgb(218,220,222));
  background-image:      -o-linear-gradient(rgb(240,240,241), rgb(218,220,222));
  background-image:         linear-gradient(rgb(240,240,241), rgb(218,220,222));
}

.drag_thumb:hover:before {
  /* Make the background gradient. */
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  
  border-radius: inherit;

  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(white), color-stop(0.3, #a6f2c0), color-stop(0.65, rgba(180, 200, 210, .9)), to(black));
  background-image: -webkit-linear-gradient(rgb(250,250,250), rgb(240,240,241));
  background-image:    -moz-linear-gradient(rgb(250,250,250), rgb(240,240,241));
  background-image:     -ms-linear-gradient(rgb(250,250,250), rgb(240,240,241));
  background-image:      -o-linear-gradient(rgb(250,250,250), rgb(240,240,241));
  background-image:         linear-gradient(rgb(250,250,250), rgb(240,240,241));
}

.drag_thumb:after {
  /* Make the drag strip. */
  content: '';
  position: absolute;
  z-index: 1;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 12px;

  background-repeat: repeat-y;
  background-position: 50% 0;
  background-image: url('../images/thumbs/dragstrip.png');
  
  /*
  background-color: rgb(230,231,232);
  border-top: 6px solid rgb(230,231,232);
  border-bottom: 6px solid rgb(230,231,232);
  */
  
  background-color: transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;

  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
      -ms-background-clip: padding-box;
       -o-background-clip: padding-box;
          background-clip: padding-box;

  -webkit-background-origin: padding-box;
     -moz-background-origin: padding;
     -moz-background-origin: padding-box;
      -ms-background-origin: padding-box;
       -o-background-origin: padding-box;
          background-origin: padding-box;
  
  -webkit-border-top-left-radius:    inherit;
     -moz-border-radius-topleft:     inherit;
          border-top-left-radius:    inherit;
  
  -webkit-border-bottom-left-radius: inherit;
     -moz-border-radius-bottomleft:  inherit;
          border-bottom-left-radius: inherit;
}


/* .button classes */

.button {  
  background-color: rgb(230,230,230);
}

.back_button {
  
}

.action_button {
  /* .action_buttons are for actions that change the webdoc. */
  -webkit-border-radius: 0.3333em;
     -moz-border-radius: 0.3333em;
          border-radius: 0.3333em;
}

.tab_button {
  height: 2.6667em;
  line-height: 2.6667em;
  
  background-color: rgb(220,220,220);
  
  border: 1px solid #999999;
  border-bottom-color: black;
  
  -webkit-border-top-left-radius:  0.25em;
     -moz-border-radius-topleft:   0.25em;
          border-top-left-radius:  0.25em;
  -webkit-border-top-right-radius: 0.25em;
     -moz-border-radius-topright:  0.25em;
          border-top-right-radius: 0.25em;
}

.tab_button.active {
  background-color: rgb(237,237,237);
  border-color: black;
  border-bottom-color: rgb(237,237,237);
}

.filter_button {
  background-color: rgb(208,209,210);
  
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
}

.filter_button.active {
  background-color: rgb(109,111,112);
  
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
}


/* .tab classes */

.tab {
  background-color: rgb(237,237,237);
  padding: 0.83333em;
}


/* .index classes */

.tabs_index > li {

}

.thumbs_index,
.filters_index {
  /* Compensate for the margin-right on the last li
     of each line. */
  margin-right: -0.6667em;
}

.thumbs_index > li,
.filters_index > li {
  margin-right: 0.6667em;
  margin-bottom: 0.8333em;
}

/* .index classes with horizontal layout */

.thumbs_index,
.filters_index {
  /* To form grids with a horizontal index, line-height
     needs to be smaller than the items in the index. */
	line-height: 0;
}

.thumbs_index > li,
.filters_index > li {
  display: inline-block;
  vertical-align: top;
  /* Reset the line-height to the base line-height. */
  line-height: 1.5;
}

.thumbs_index > li:last-child,
.filters_index > li:last-child {
  margin-right: 0;
}