html, body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  /* Compensate for the space the footer takes up. */
  padding-bottom: 3em;
}

body > .content {
  position: relative;
  height: 100%;
  overflow: auto;
}

body > .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  
  border-top: 1px solid black;
}