.app_footer {
	border-top: 1px solid rgb(179,179,179);
  background-color: rgb(242,242,242);
}


/* .header classes */

.app_header {
  padding: 0.8333em 0.8333em 0.8333em 84px;
  min-height: 84px;
  border-bottom: 1px solid rgb(204,204,204);
}

.app_header > .thumb {
  position: absolute;
  top: 10px;
  left: 10px;
}

.slide_header {
	width: 100%;
	height: 3.5em;
	margin-bottom: 0.8333em;
	padding: 0.75em 0.8333em;
	border-bottom: 1px solid rgb(220,220,220);
}

.slide_header > .title {
	position: absolute;
	top: 0.8333em;
	left: 25%;
	width: 50%;
}


/* .title classes */

.slide_title {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.6em;
	text-align: center;
}

.widget_title {
	font-weight: bold;
	margin-bottom: 0;
	color: rgb(65,65,65);
}

/* .thumb classes */

.app_thumb {
  /* TODO: this is temporary, so we can see it! */
  background-color: #999999;
}

.widget_thumb {
  /* TODO: this is temporary, so we can see it! */
  background-color: #bbbbbb;
  
  background-image: url('../images/thumbs/thumb_widget.png');
  background-size: auto;
  background-position: 50% 50%;
}

.image_thumb {
  background-image: url('../images/thumbs/thumb_image.png');
}

.l_thumb {
	width: 230px;
}

.m_thumb {
	width: 175px;
}

.s_thumb {
	width: 125px;
}

.drag_thumb:hover,
.drag_thumb:focus {
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	    -ms-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	     -o-box-shadow: 0 0 2px rgba(0,0,0,0.5);
	        box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.drag_thumb {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;
}

.selected,
.drag_thumb.selected,
.drag_card.selected {
  border-color: rgb(250,244,0);
  
  /* Makes the box shadow render over the top of its neighbours. */
  z-index: 1;
  
  -webkit-box-shadow: 0 0 1px 1px rgb(250,244,0);
     -moz-box-shadow: 0 0 1px 1px rgb(250,244,0);
       -o-box-shadow: 0 0 1px 1px rgb(250,244,0);
          box-shadow: 0 0 1px 1px rgb(250,244,0);
}


/* .button classes */

.button {  
  background-color: rgb(230,230,230);
}

.action_button {
  font-weight: bold;
  
  color: white;
  text-shadow: 0 1px #666666;
  
  /* .action_buttons are for actions that change the webdoc. */
  -webkit-border-radius: 0.3333em;
     -moz-border-radius: 0.3333em;
          border-radius: 0.3333em;

  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(white), color-stop(0.3, #a6f2c0), color-stop(0.65, rgba(180, 200, 210, .9)), to(black));
  background-image: -webkit-linear-gradient(rgb(203,204,205), rgb(178,179,180));
  background-image:    -moz-linear-gradient(rgb(203,204,205), rgb(178,179,180));
  background-image:     -ms-linear-gradient(rgb(203,204,205), rgb(178,179,180));
  background-image:      -o-linear-gradient(rgb(203,204,205), rgb(178,179,180));
  background-image:         linear-gradient(rgb(203,204,205), rgb(178,179,180));
}

.action_button:hover,
.action_button:focus {
	color: white;
}

.back_action_button,
.submit_action_button,
.primary_action_button {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(white), color-stop(0.3, #a6f2c0), color-stop(0.65, rgba(180, 200, 210, .9)), to(black));
  background-image: -webkit-linear-gradient(rgb(127,161,214), rgb(99,127,172));
  background-image:    -moz-linear-gradient(rgb(127,161,214), rgb(99,127,172));
  background-image:     -ms-linear-gradient(rgb(127,161,214), rgb(99,127,172));
  background-image:      -o-linear-gradient(rgb(127,161,214), rgb(99,127,172));
  background-image:         linear-gradient(rgb(127,161,214), rgb(99,127,172));
}

.tab_button {
  height: 2.6667em;
  line-height: 2.6667em;
  
  background-color: rgb(230,231,232);
}

.tab_button.active {
	color: white;
  background-color: rgb(187,189,191);
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(white), color-stop(0.3, #a6f2c0), color-stop(0.65, rgba(180, 200, 210, .9)), to(black));
  background-image: -webkit-linear-gradient(rgb(187,189,191), rgb(128,129,132));
  background-image:    -moz-linear-gradient(rgb(187,189,191), rgb(128,129,132));
  background-image:     -ms-linear-gradient(rgb(187,189,191), rgb(128,129,132));
  background-image:      -o-linear-gradient(rgb(187,189,191), rgb(128,129,132));
  background-image:         linear-gradient(rgb(187,189,191), rgb(128,129,132));
}

.filter_button {
  /* overide default label styles */
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2em;
  
  
  background-color: rgb(208,209,210);
  
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
}

.filter_button.active {
  
  color: white;
  background-color: rgb(109,111,112);
  
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
}


/* .col classes */

.text_col {
	color: rgb(89,89,92);
}

.text_col p {
	margin-bottom: 0;
}

.l_col {
	width: 62.1622%;
	margin-right: -62.1622%;
}

.m_col {
	width: 47.2973%;
	margin-right: -47.2973%;
}

.s_col {
	width: 33.7838%;
	margin-right: -33.7838%;
}

.thumb_col {
	left: 0;
}

.thumb_col > .thumb {
	width: 100%;
}

.text_col.l_col { left: 37.8378%; }
.text_col.m_col { left: 52.7027%; }
.text_col.s_col { left: 66.2162%; }

/* .tab classes */

.tab {
  background-color: white;
  padding: 0.83333em;
}

.slides_tab {
	padding: 0;
	overflow: hidden;
}


/* .slide classes */

.slide {
	padding: 0.83333em;
	padding-top: 4.3333em;
}

.slide > .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5em;
}

.tab > .widgets_index,
.slide > .widgets_index {
	/* Tabs have there own padding, but if we want to retain the 
	   dimensions of these lists - and we do - we must reduce
	   their padding inside tabs. */
	padding-left: 0.8333em;
	padding-right: 0.4167em;
}


/* .index classes */

.tabs_index {
	border-top: 1px solid white;
	border-bottom: 1px solid rgb(153,154,157);
}

.actions_index > li {
  margin-right: 0.6667em;
}

.widgets_index {
	margin-bottom: 0.8333em;
	padding-left: 1.6667em;
	padding-right: 1.25em;
}

.widgets_index > li {
	padding-top: 1.6667em;
	padding-bottom: 1.6667em;
	border-bottom: 1px solid rgb(204,204,204);
}

.thumbs_index,
.filters_index {
  /* Compensate for the margin-right on the last li
     of each line. */
  margin-right: -0.6667em;
}

.thumbs_index > li,
.filters_index > li {
  margin-right: 0.6667em;
  margin-bottom: 0.8333em;
}

/* .index classes with horizontal layout */

.thumbs_index,
.filters_index {
  /* To form grids with a horizontal index, line-height
     needs to be smaller than the items in the index. */
	line-height: 0;
}

.thumbs_index > li,
.filters_index > li {
  display: inline-block;
  vertical-align: top;
  /* Reset the line-height to the base line-height. */
  line-height: 1.5;
}

.thumbs_index > li:last-child,
.filters_index > li:last-child {
  margin-right: 0;
}

/* forms */

.search_form {
	margin-bottom: 0.8333em;
	margin-right: 6.75em;
}

.search_form > input {
	display: inline-block;
	vertical-align: top;
}

.search_form > input[type="search"] {
	-webkit-appearance: textfield;
}

.search_form > input[type="search"]::-webkit-input-placeholder {
	height: 2em;
}

.search_form > .search_input {
	width: 100%;
	margin-right: -100%;
	height: 2em;
	
	border: 1px solid rgb(187,189,191);
	
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
          border-radius: 0.25em;
  
  background-color: 241,241,242;
}

.search_form > .action_button {
	width: 6em;
	position: relative;
	margin-left: 0.75em;
	left: 100%;
}