html, body {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  /* Compensate for the space the footer takes up. */
  padding-bottom: 3.5em;
  background-color: rgb(242,242,242);
}

body > .content {
  position: relative;
  height: 100%;
  overflow: auto;
}

body > .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  padding: 0.75em 0.8333em;
  
  border-top: 1px solid black;
}

hr {
  margin-bottom: 0.8333em;
  border-color: rgb(128,129,132);
  
  -webkit-box-shadow: 0 1px 1px white;
     -moz-box-shadow: 0 1px 1px white;
       -o-box-shadow: 0 1px 1px white;
          box-shadow: 0 1px 1px white;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: rgb(108,153,206);
}

