/* layout.css */

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-top: 7em;
  padding-bottom: 20em;
  background-attachment: fixed;
  background-position: 0 0 !important;
}

/* manage layers */
/* panels have z-index 5 & 6 */
footer                { z-index: 5; }
header                { z-index: 6; }
.popup                { z-index: 7; }
body > .loading_layer { z-index: 8; }
#flash                { z-index: 9; }

/* The site header */
.header_panel {
  top: 0;
  min-width: 100%;
  height: 3.8333em;
}

/* The site footer */
.footer_panel {
  bottom: 0;
  min-width: 100%;
  height: 15em;
  padding-top: 2em;
}

.logo_thumb {
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 120px;
  padding-top: 26px;
  background-position: 0 0;
  background-image: url('http://www.webdoc.com/images/thumbs/logo_thumb_white.png');
}


/* .wrap extensions */
.page_wrap::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.site_wrap {
  width: 960px;
}

/* .index extensions */

/* .thumb extensions */

/* .pane and .content extensions */

.content {
  /* Act as position parent */
  position: relative;
}

/* .popdown */

.popdown {
  background-color: rgb(235,235,235);
  background-image: url('../images/gradient_fallback.png');
  background-image: -moz-linear-gradient(top, rgb(245,245,245), rgb(235,235,235));
  background-image: -o-linear-gradient(top, rgb(245,245,245), rgb(235,235,235));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245,245,245)), to(rgb(235,235,235)));
  
  -webkit-border-radius: 0.3333em;
     -moz-border-radius: 0.3333em;
       -o-border-radius: 0.3333em;
          border-radius: 0.3333em;
  
  -webkit-box-shadow: 0 4px 4px 1px rgba(63,63,63,0.4);
     -moz-box-shadow: 0 4px 4px 1px rgba(63,63,63,0.4);
          box-shadow: 0 4px 4px 1px rgba(63,63,63,0.4);
}

/* Dropdown */

/* .index */

.tabs_index {
	background: rgb(245,245,245);
	border-bottom: 1px solid rgb(204,204,204);
	-webkit-border-radius: 0.3333em 0.3333em 0 0;
	   -moz-border-radius: 0.3333em 0.3333em 0 0;
	        border-radius: 0.3333em 0.3333em 0 0;
}
.tabs_index li {
  margin: 0;
  padding-right: 1px;
}
.tabs_index li:first-child, .tabs_index li:first-child .tab_button {
	-webkit-border-radius: 0.3333em 0 0 0;
	   -moz-border-radius: 0.3333em 0 0 0;
	        border-radius: 0.3333em 0 0 0;
}
.tabs_index li::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: rgb(235,235,235);
  background-image: url('../images/gradient_fallback.png');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245,245,245)), to(rgb(204,204,204)));  
  background-image: -webkit-linear-gradient(rgb(245,245,245), rgb(204,204,204));  
  background-image: -moz-linear-gradient(top, rgb(245,245,245), rgb(204,204,204));
  background-image: -o-linear-gradient(top, rgb(245,245,245), rgb(204,204,204));
  background-image: linear-gradient(rgb(245,245,245), rgb(204,204,204));
}

/* form */