/* .wrap */

.site_wrap {
	width: 88%;
}


/* .col */

.doc_col {
	width: 73%;
	margin-right: -73%;
	left: 0;
}

.example_col {
	width: 25%;
	margin-right: -25%;
	left: 75%;
	
	min-height: 3em;
	border-left: 1px solid rgb(96,96,96);
}


/* .header */

.site_header {
	min-width: 100%;
	height: 3.8333em;
	
	background: rgb(51,51,51);
	background-image: url('../images/gradient_fallback.png');
	background: -webkit-gradient(linear, left top, left bottom, from( rgb(77,77,77) ), to( rgb(51,51,51) ));
	background: -webkit-linear-gradient( rgb(77,77,77), rgb(51,51,51) );
	background:    -moz-linear-gradient( rgb(77,77,77), rgb(51,51,51) );
	background:      -o-linear-gradient( top, rgb(77,77,77), rgb(51,51,51) );
	background:         linear-gradient( rgb(77,77,77), rgb(51,51,51) );
}

.site_header > .logo_thumb {
  position: absolute;
  top: 0.5em;
  left: 0;
}


/* .footer */

.site_footer {
	min-width: 100%;
	height: 15em;
	padding-top: 2em;
	
	color: rgb(115,115,115);
	font-size: 0.9167em;
	
	background: rgb(204,204,204);
	background-image: url('../images/gradient_fallback.png');
	background-image: -moz-linear-gradient(top, rgb(179,179,179) 0%, rgb(204,204,204) 10%);
	background-image: -o-linear-gradient(top, #B3B3B3 0%, #CCCCCC 10%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(179,179,179)), color-stop(10%,rgb(204,204,204)));
	background-image: -webkit-linear-gradient(top, rgb(179,179,179) 0%, rgb(204,204,204) 10%);
}

.site_footer .vertical + .vertical,
.site_footer .vertical + h4 {
	margin-top: 1.5em;
}

.site_footer .vertical > li {
	line-height: 1.1667em;
	margin-bottom: 0.666em;
}
  
.site_footer a {
	color: rgb(115,115,115);
}

.site_footer a:hover {
	color: rgb(79,79,79);
}
  
.site_footer h4 {
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 0.9167em;
	text-transform: uppercase;
	color: rgb(79,79,79);
	margin-bottom: 0.666em;
}

/* .thumb */
.logo_thumb {
  width: 120px;
  padding-top: 26px;
  background-position: 0 0;
  background-image: url('http://www.webdoc.com/images/thumbs/logo_thumb_white.png');
}